# Import all packages listed as Imports or Depends
import(
  maptools,
  spatstat,
  spdep
)

# Export all external functions
export(
  fAssocmatrix,
  fAssocplot,
  fAssoctable,
  fDrawfigure,
  fRanXY
)